// SIDEBAR

aside.col-sm-4.col-md-3.col-sm-height.sidebar

    .wrapper-inner

        include aside/profile

        include aside/social

        include aside/skills

        include aside/languages
