.contact-me.section
    h4.text-success Find me here
    div
        a(href='https://dk.linkedin.com/in/olefrankjensen', target='_blank')
            i.fa.fa-linkedin
        a(href='https://www.facebook.com/ole.f.jensen.7', target='_blank')
            i.fa.fa-facebook
        a(href='https://twitter.com/OleFrankJensen', target='_blank')
            i.fa.fa-twitter
        a(href='mailto:olefrankjensen@gmail.com')
            i.fa.fa-envelope
