.contact-me.section
    h4.text-success Find me here
    div
        a.contact-me-link(href='https://dk.linkedin.com/in/olefrankjensen', target='_blank')
            i.fa.fa-linkedin
        a.contact-me-link(href='https://www.facebook.com/ole.f.jensen.7', target='_blank')
            i.fa.fa-facebook
        a.contact-me-link(href='mailto:olefrankjensen@gmail.com')
            i.fa.fa-envelope
        a.contact-me-link(href='https://github.com/olefrank', target='_blank')
            i.fa.fa-github
        a.contact-me-link(href='https://twitter.com/OleFrankJensen', target='_blank')
            i.fa.fa-twitter
