nav.navbar.navbar-inverse.navbar-fixed-top
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
        #navbar.navbar-collapse.collapse
            if (!user)
                ul.nav.navbar-nav

                    // create menu
                    each item, index in strings.navbar
                        if (index === 0)
                            li.active
                                a(href= item.link)= item.name
                        else
                            li
                                a(href= item.link)= item.name

                ul.nav.navbar-nav.navbar-right
                    include lang

            else
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href= '/logout')
                            | Logout
                        span.sr-only