script(src='lib/jquery/jquery.js')
script(src='lib/bootstrap/js/bootstrap.js')
script(src='lib/moment/min/moment-with-locales.js')
script(src='lib/toastr/toastr.min.js')

script(src='javascripts/app.min.js')