link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.css')
link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.css')
link(rel='stylesheet', href='/lib/toastr/toastr.min.css')
!= cacheBust('/stylesheets/main.min.css')