doctype html
html

  head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      base(href='/')
      title Ole Frank: Resume
      meta(name='description', content='')
      meta(name='viewport', content='width=device-width')
      include ../partials/stylesheets

  body(data-spy='scroll', data-target='.navbar', data-offset='70')

    block content

    include ../partials/scripts
    include ../partials/resume-modal