extends layouts/layout

block content

    include partials/navbar

    .container

        // Nav tabs
        ul#admin-tabs.nav.nav-tabs(role='tablist')
            li.active(role='presentation')
                a(href='#admin-tab-profile', aria-controls='home', role='tab', data-toggle='tab') Profil
            li.tab-primary(role='presentation')
                a(href='#admin-tab-experience', aria-controls='profile', role='tab', data-toggle='tab') Erfaring
            li.tab-success(role='presentation')
                a(href='#admin-tab-education', aria-controls='profile', role='tab', data-toggle='tab') Uddannelse
            li.tab-warning(role='presentation')
                a(href='#admin-tab-projects', aria-controls='home', role='tab', data-toggle='tab') Projekter
            li.tab-default(role='presentation')
                a(href='#admin-tab-skills', aria-controls='profile', role='tab', data-toggle='tab') Skills
            li.tab-success(role='presentation')
                a(href='#admin-tab-languages', aria-controls='profile', role='tab', data-toggle='tab') Sprog
            li.tab-info(role='presentation')
                a(href='#admin-tab-volounteer', aria-controls='profile', role='tab', data-toggle='tab') Frivillig



        // Tab panes
        .tab-content

            #admin-tab-profile.tab-pane.fade.in.active(role='tabpanel')
                h3 Profil
                include partials/admin/profile

            #admin-tab-experience.tab-pane.fade(role='tabpanel')
                h3 Erfaring
                - var color = config.colors.experience
                include partials/admin/add-new-element
                .element-list-experience
                    each item,index in experiences
                        include partials/admin/experience

            #admin-tab-education.tab-pane.fade(role='tabpanel')
                h3 Uddannelse
                - var color = config.colors.education
                include partials/admin/add-new-element
                .element-list-education
                    each item,index in educations
                        include partials/admin/education

            #admin-tab-projects.tab-pane.fade(role='tabpanel')
                h3 Projekter
                - var color = config.colors.project
                include partials/admin/add-new-element
                .element-list-project
                    each item,index in projects
                        include partials/admin/project

            #admin-tab-skills.tab-pane.fade(role='tabpanel')
                h3 Skills
                - var color = config.colors.skill
                include partials/admin/add-new-element
                .element-list-skill
                    each item,index in skills
                        include partials/admin/skill

            #admin-tab-languages.tab-pane.fade(role='tabpanel')
                h3 Sprog
                - var color = config.colors.language
                include partials/admin/add-new-element
                .element-list-language
                    each item,index in languages
                        include partials/admin/language

            #admin-tab-volounteer.tab-pane.fade(role='tabpanel')
                h3 Frivillig
                - var color = config.colors.volounteering
                include partials/admin/add-new-element
                .element-list-volounteering
                    each item,index in volounteerings
                        include partials/admin/volounteering
