@import '../base';
@import 'bs3-variables';

div.resume-form-field {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
}

// tabs
.nav-tabs {
  >li.tab {
    &-primary {
      a:hover {
        color: @panel-primary-text;
        background-color:@panel-primary-heading-bg;
        border-color: @panel-primary-border
      }
      &.active {
        >a, >a:focus {
          color: @panel-primary-text;
          background-color: @panel-primary-heading-bg;
          border-color: @panel-primary-border
        }
      }
    }

    &-success {
      a:hover {
        color: @panel-success-text;
        background-color:@panel-success-heading-bg;
        border-color: @panel-success-border
      }
      &.active {
        >a, >a:focus {
          color: @panel-success-text;
          background-color: @panel-success-heading-bg;
          border-color: @panel-success-border
        }
      }
    }

    &-default {
      a:hover {
        color: @panel-default-text;
        background-color:@panel-default-heading-bg;
        border-color: @panel-default-border
      }
      &.active {
        >a, >a:focus {
          color: @panel-default-text;
          background-color: @panel-default-heading-bg;
          border-color: @panel-default-border
        }
      }
    }

    &-info {
      a:hover {
        color: @panel-info-text;
        background-color:@panel-info-heading-bg;
        border-color: @panel-info-border
      }
      &.active {
        >a, >a:focus {
          color: @panel-info-text;
          background-color: @panel-info-heading-bg;
          border-color: @panel-info-border
        }
      }
    }

    &-warning {
      a:hover {
        color: @panel-warning-text;
        background-color:@panel-warning-heading-bg;
        border-color: @panel-warning-border
      }
      &.active {
        >a, >a:focus {
          color: @panel-warning-text;
          background-color: @panel-warning-heading-bg;
          border-color: @panel-warning-border
        }
      }
    }
  }
}