@import '../base';

.btn-skills {
  padding: 10px;
  cursor: pointer;
}

.skills-more {
  -webkit-transform: rotate( 180deg );
  -ms-transform: rotate( 180deg );
  transform: rotate( 180deg );
  transition: transform 200ms ease;
}

.skills-less {
  -webkit-transform: rotate( 360deg );
  -ms-transform: rotate( 360deg );
  transform: rotate( 360deg );
  transition: transform 200ms ease;
}
