.admin-element
    div(class='panel panel-' + color)
        .panel-heading
            h3.panel-title= item ? item.lang.da : 'Nyt element'
        .panel-body
            form(id= item ? item._id : '', data-section='language')
                .row
                    .col-xs-6
                        .form-group
                            label Sprog
                            input.resume-form-field.form-control(data-prop="lang.da", value= item ? item.lang.da : '')
                    .col-xs-6
                        .form-group
                            label Title
                            input.resume-form-field.form-control(data-prop="lang.en", value= item ? item.lang.en : '')
                .row
                    .col-xs-6
                        .form-group
                            label Rating
                            input.resume-form-field.form-control(type="number", min=1, max=5, data-prop="rating", value= item ? item.rating : '')

                    .col-xs-6
                        .form-group
                            label &nbsp;
                            .row
                                .col-xs-6
                                    button.btn.btn-success.btn-admin-save.form-control(type='button') Gem
                                .col-xs-6
                                    button.btn.btn-danger.btn-admin-delete.form-control(type='button')
                                        span.glyphicon.glyphicon-remove
                                        | Slet
