.admin-element
    form(id= profile._id, data-section="profile")
        .row
            .col-xs-6
                .form-group
                    label Dansk
                    .resume-form-field(contentEditable="", data-prop="summary.da")= profile.summary.da

            .col-xs-6
                .form-group
                    label English
                    .resume-form-field(contentEditable="", data-prop="summary.en")= profile.summary.en


        .btn-toolbar
            button.btn.btn-success.btn-admin-save(type='button') Gem
