.admin-element
    form(data-section="profile", data-id=profile._id)
        .row
            .col-xs-6
                .form-group
                    .admin-profile-summary(contentEditable, data-prop="summary.da", data-type="resume-form-field")= profile.summary.da

            .col-xs-6
                .form-group
                    .admin-profile-summary(contentEditable, data-prop="summary.en", data-type="resume-form-field")= profile.summary.en


        .btn-toolbar
            button.btn.btn-success.btn-admin-save(type='button')= strings.buttons.save.da
