.admin-element
    div(class='panel panel-' + color)
        .panel-heading
            h3.panel-title= item ? item.title.da : 'Nyt element'
        .panel-body
            form(id= item ? item._id : '', data-section='skill')
                .row
                    .col-xs-6
                        .form-group
                            label Titel
                            input.resume-form-field.form-control(data-prop="title.da", value= item ? item.title.da : '')
                    .col-xs-6
                        .form-group
                            label Title
                            input.resume-form-field.form-control(data-prop="title.en", value= item ? item.title.en : '')
                .row
                    .col-xs-6
                        .form-group
                            label Rating
                            input.resume-form-field.form-control(type="number", min=1, max=5, data-prop="rating", value= item ? item.rating : '')

                    .col-xs-6
                        .form-group
                            label &nbsp;
                            .row
                                .col-xs-6
                                    button.btn.btn-success.btn-admin-save.form-control(type='button', data-id= item ? item._id : '', data-section='skill') Gem
                                .col-xs-6
                                    button.btn.btn-danger.btn-admin-delete.form-control(type='button', data-id= item ? item._id : '', data-section='skill')
                                        span.glyphicon.glyphicon-remove
                                        | Slet
