.languages.section.sidebar__languages.hidden
    h4.text-info= strings.headings.languages
    ul.list-group
        each lang, i in languages
            li.list-group-item.sidebar-list-item= lang.lang
