.skills.section
    .skills-header-section(type='button', data-toggle='collapse', data-target='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
        h4.skills-header.text-success= strings.headings.skills
        i.fa.fa-chevron-up.skills-header-arrow.skills-more

    ul.list-group
        each skill, i in skills
            if i < 5
                li.list-group-item.sidebar-list-item= skill.title

    #collapseExample.collapse
        ul.list-group.list-skills-expanded
            each skill, i in skills
                if i >= 5
                    li.list-group-item.sidebar-list-item= skill.title
